

h1{ background-color: #004ea7;
	margin: auto;
	width: 100%;
	min-width: 960px;
    
	
}

h2{text-decoration: underline;
    text-decoration-color: #df7d7d;
    color:#056487
    
}

body{
    background-color: #d4d4d4;
}

P{
    font-family:Arial, Helvetica, sans-serif;
    
}
.reason{color: #042955;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;
        background-color: #ffffff;
        width: auto;
}




